* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(24, 32, 90);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
  font-family: Arial, Helvetica, sans-serif;
}

header div a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  margin: 15em auto;
  width: 40%;
}

main h2 {
  font-size: 30px;
  margin-bottom: 1em;
  font-weight: bold;
}

.quiz-btn {
  background-color: purple;
  color: white;
  border-radius: 0.5em;
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  display: block;
}

#start-card {
  text-align: center;
}

#start-quiz-btn {
  margin: 1em auto;
}

#initials-form {
  display: flex;
  margin-top: 5px;
  align-items: center;
}

#initials {
  margin-left: 5px;
}

#end-screen-container {
  width: fit-content;
  margin-top: 15em;
}

#submit-score-btn {
  color: white;
  background-color: purple;
  border-radius: 0.3em;
  margin-left: 5px;
  border: 1px solid black;
  cursor: pointer;
}

#highscores-container {
  margin: 15em auto;
  width: 30%;
}

.highscores-btn-class {
  color: white;
  background-color: purple;
  border: 1px solid black;
  border-radius: 0.3em;
  margin-top: 10px;
  cursor: pointer;
}

#highscores-list p {
  padding: 3px 3px;
}

#highscores-list>:nth-child(even) {
  background-color: rgba(255, 199, 255, 0.228);
}